body {
	margin: 0;
	padding: 0;
	background: #262626;
}
.container {
	width: 800px;
	height: 450px;
	background: #ff0;
	margin: 150px auto;
	display: grid;
	grid-template-columns: repeat(4, 200px);
	grid-template-rows: repeat(3, 150px);
}
.container .box {
	background: #fff;
	display: grid;
	box-sizing: border-box;
	border: 1px solid #000;
}
.container .box:hover {
	background: #2196f3;
	color: #fff;
}
.container .box h2 {
	margin: 0;
	padding: 0;
	justify-self: center;
	align-self: center;
	font-family: sans-serif;
	font-size: 40px;
}
.container .box:hover h2 {
	font-size: 100px;
}